.box{
    min-height: 90vh;
    display: grid;
    justify-content: center;
    padding: 50px;
    &_shell{
        border: 1px solid black;
        height: 1000px;
        width: 90vw;
        display: flex;
        justify-content: end;
        &_editor{
            border: 1px solid red;
            padding: 20px;
            padding-bottom: 0;
            display: grid;
            justify-content: center;
            width: 900px;
            #content{
                display: flex;
                justify-content: center;
                width: 900px;
                border: 1px solid silver;
                margin: 80px 0;
                //height: 735px;
            }
        }
    }
}